:root {
    --primary-color: rgb(2, 44, 71);
    --secondary-color: #b1b1ff;
    --tertiary-color: #bd3e88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header/Nav Bar Styling Section */

header {
    padding: 30px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;

  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(119, 173, 255, 0.40)

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(119, 173, 255, 0.40);
    text-decoration-line: underline;
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* End of Header/Nav Bar Styles Section */

/* Hero Styles Style */
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-slogan {
  width: 32%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 10px;
  line-height: 1.2;
}

.hero-slogan h2{
  font-style: italic;
  font-size: 20px;
  justify-content: center;
  text-shadow: 0 0 5px rgba(41, 33, 33, 0.5);
  color: var(--tertiary-color);
}

.hero-slogan h2 .quotename {
  justify-content: right;
  padding: 3px;
}

/* HERO STYLES END */