:root {
    --primary-color: #022c47;
    --secondary-color: rgb(101, 206, 255);
    --tertiary-color: rgb(196, 0, 130);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: #cce4ff;
}

/* Header/Nav Bar Styling Section */

header {
    padding: 20px 25px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;

  }

header h1 {
    background-color: var(--secondary-color); 
    font-weight: bold;
    text-align: right;
    width: 350px;
    position: relative;
    margin: 0;
    right: 35px;
    padding: 20px;
    text-shadow: 0 0 10px rgba(119, 173, 255, 0.40)


}

header h1 a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 36px;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 10px;
    border-spacing: 10px;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    text-shadow: 0 0 10px rgba(0, 35, 88, 0.4);
    text-decoration-line: underline;
    color: var(--secondary-color);
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* End of Header/Nav Bar Styles Section */

/* Hero Styles Style */
.hero {
  background-image: url("../images/hero-1.jpg");
  background-size: cover;
  background-position: 80%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.hero h2 {
  position: absolute;
  bottom: 30px;
  left: 100px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(41, 33, 33, 0.5);
  color: rgb(255, 217, 0);
}

.hero-image {
  position: absolute;
  bottom: 0px;
  right: 100px;
}
/* End Hero Styles*/


/* Style for All Sections */
section { 
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title {
  width: 25%;
  font-size: 35px;
  text-align: right;
  padding: 5px 5px;
}

/* End of All Sections Section */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  border-left: 5px solid var(--primary-color);
  margin: 10px 0;
  padding: 20px 20px;
}

/*About Me Section */

#aboutme-body {
  color: var(--tertiary-color);
}

/* End of About Me Section */

/* My Works Style Section */
.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  border: 5px solid var(--secondary-color);
  position: relative;
  width: 475px;
}

.apps img {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 50%);
}

#app-1 {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 50%);
  padding: 0;
  
}

#app-2 {
  display: block;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 50%);
  padding: 0;
  
}

.apps img:hover{
  opacity: .75;
}

.app-info {
  background-color: var(--secondary-color);
  width: 100%;
  height:10px;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 0px; 
  margin: 0;
  padding: 30px 5px;
  opacity: .75;
}

/* Enf of My Works Style Section  */

/* Contact Me Styling */

#contactinfo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#contactinfo ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  font-weight: lighter;
  text-align: center;
  font-size: 1.55vw;
  border-bottom: 3px solid var(--primary-color);
}

#contactinfo li{
  text-decoration: none;
  margin: 10px 20px 50px 0;
}

#contactinfo a {
  text-decoration: none;
  color: var(--primary-color)
}

#contactinfo a:hover {
  color: var(--secondary-color);
  border-radius: 15px;

/* End of Contact Me Section */
